In [9]:
import pandas as pd

In [10]:
a = pd.read_csv("assets/city_data.csv")
a

,Unnamed: 0,City,Country,Date,Humidity,Cloudiness,Lat,Long,Temp,WindSpeed
0,0,St. George's,GD,1626042307,89,75,12.0564,-61.7485,78.48,17.27
1,1,Pangody,RU,1626042308,66,71,65.8500,74.4859,46.80,11.21
2,2,Teyateyaneng,LS,1626042308,38,1,-29.1472,27.7489,44.83,5.82
3,3,Ushuaia,AR,1626042224,86,40,-54.8000,-68.3000,33.46,8.05
4,4,Atuona,PF,1626042109,80,46,-9.8000,-139.0333,77.23,25.08
...,...,...,...,...,...,...,...,...,...,...
553,553,Mahajanga,MG,1626042529,56,20,-15.7167,46.3167,73.42,6.91
554,554,Luanda,AO,1626042449,94,75,-8.8368,13.2343,71.60,3.44
555,555,Emerald,AU,1626042530,48,40,-23.5333,148.1667,58.98,5.75
556,556,Tétouan,MA,1626042530,88,75,35.5711,-5.3724,81.39,4.61
557,557,Cartagena,CO,1626042461,79,40,10.3997,-75.5144,85.62,9.22

In [11]:
output = a.to_html("output.html")